.vector-marker {
  display: block;

  position: absolute;
  left: 0;
  top: 0;

  text-align: center;

  path {
    stroke: black;
    stroke-opacity: 0.4;
    stroke-width: 1;
  }

  &.not-accepted {
    opacity: 0.5;
  }
}

.vector-marker i {
  display: inline-block;
  margin: auto;

  position: absolute;
  top: 12px;
  left: 0;

  color: white;
  font-size: 14px;
}

.vector-marker-shadow {
  filter: drop-shadow(6px -6px 4px rgba(0, 0, 0, 0.6));
}
